
.container {
      display: grid;
      grid-template-rows: repeat(auto, 8);
      grid-template-columns: 100%;
      background-color: #F6F4F7;
}

/* SHADES OF GREY
   background-color: rgb(50, 50, 50);
   background-color: rgb(100, 100, 100);
   background-color: rgb(150, 150, 150);
   background-color: rgb(200, 200, 200);
   background-color: rgb(240, 240, 240);
*/



/* HEADER */

.header {
   display: flex;
   align-content: center;
   justify-content: space-evenly;
   grid-row: 1/1;
   height: 103px;
   /* background-color: #D33A2C; */
}

.header-logo {
   background-color: rgb(100, 100, 100);
   width: 214px;
   height: 82px;
}

.header div {
   background-color: rgb(200, 200, 200);
   width: 100px;
   height: 50px;
}

.header-cat {
   background-color: rgb(150, 150, 150);
   width: 100px;
   height: 50px;
}

.header-input{
   background-color: rgb(100, 100, 100);
   width: 350px;
   height: 55px;
}

/* FEATURED */

.featured-articles {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-row: 2/2;
   grid-column: 1/1;
   grid-template-rows: 724px 581px;
}

.grid-articles {
   display: grid;
   grid-row: 3/ 3;
   grid-column: 1/1;
   grid-template-columns: 1fr 1fr 1fr;
   height: 2855px;
   grid-template-rows: 30px 545px 795px 30px 536px 700px 229px;

}

.blue-separators { 
   display: grid;
   grid-row: 4/ 4;
   grid-column: 1/1;
   height: 904px;
   background-color: #1B71BB;

}

.testimonials {
     display: grid;
   grid-row: 5/ 5;
   grid-column: 1/1;
   height: 1735px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 53px 276px 421px 421px 388px 176px ;
   
}

.red-thin-separator {
   display: grid;
   grid-row: 6/ 6;
   grid-column: 1/1;
   height:  411px;
   background-color: #D33A2C;
   
}

.guides-grid {
   display: grid;
   grid-row: 7/ 7;
   grid-column: 1/1;
   height: 1576px;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 53px 1347px 176px ;
   
}

.footer {
   display: grid;
   grid-row: 8/ 8;
   grid-column: 1/1;
   height: 676px;
   background-color: #D33A2C;
   grid-template-columns: auto auto;
}